fastapi
uvicorn
python-dotenv
requests
PyMuPDF
python-docx
langchain
sentence-transformers
faiss-cpu
numpy
google-generativeai
layoutparser
rank_bm25
spacy
networkx
z3-solver
spacy-transformers
unstructured
python-multipart
